<p style="color: green"><%= notice %></p>

<h1 class='heading-todo'>Todos</h1>

<div class='list-todo'>
<div class='list' id="todos">
  <% @todos.each do |todo| %>
    <%= render todo %>
    <p>
      <button class='btn btn-show'><%= link_to "Show todo", todo %>
    </p></button>
    <%= button_to "Destroy this todo", todo, method: :delete, class:'btn btn-destroy' %>
  <% end %>

  
</div>

<div>
<button class='btn btn-new'>
<%= link_to "New todo", new_todo_path %>
</div>
</div>
</button>